.drow{display: table;width: 100%;margin: 20px auto;max-width: 1000px;}
[class*="dcol"]{display:table-cell;border-width: 0 10px;border-style: solid;border-color: transparent;padding:0px;vertical-align:top;}
[class*="dcol"]:first-child{border-width: 0 10px 0 0;}
[class*="dcol"]:last-child{border-width: 0 0 0 10px;}
[class*="dcol"]:first-child:last-child{border-width: 0 0 0 0px;}
[class*="dcol"] img{max-width: 100%;}
[class*="dcol"] *:first-child {margin-top: 0;}
[class*="dcol"].cntr {text-align: center;}
.drow.dh [class*="dcol"]{font-weight:bold;text-align: center;background:#bbb;}

.dcol11{width:auto;}
.dcol12{width:50%;}
.dcol13{width:33.33333%;}
.dcol14{width:25%;}
.dcol23{width:66.66666%;}
.dcol34{width:75%;}

@media screen and (max-width: 939px) {
	.dcol11{display: block;width:auto;}
	.dcol12{display: block;width:auto;}
	.dcol13{display: block;width:auto;}
	.dcol14{display: block;width:auto;}
	.dcol23{display: block;width:auto;}
	.dcol34{display: block;width:auto;}
}
@media screen and (max-width: 639px) {
	.dcol11,
	.dcol12,
	.dcol13,
	.dcol14,
	.dcol23,
	.dcol34{width: auto;display: block;margin-bottom: 30px;}
}

