
.container {
  width: 980px;
  margin: 0 auto;
  background: white;
}

.content {
  overflow: hidden;
  margin: 0px 0;
  padding: 40px 0px 40px;
  background: #fff;
  word-break: break-word;
}

header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 980px;
  background: whitesmoke;
}

header .logo {
  display: block;
  float: left;
  background: #6db3f2;
  background: -moz-linear-gradient(top,  #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%);
  background: -webkit-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%);
  background: linear-gradient(to bottom,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 );
  padding: 10px 10px;
  text-decoration: none;
  color: white;
  font-weight: 900;
}

header .logo span {
  padding: 10px 10px;
  background: #f85032;
  background: -moz-linear-gradient(top, #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%);
  background: -webkit-linear-gradient(top, #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%);
  background: linear-gradient(to bottom, #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 );
  display: inline-block;
  margin: -10px -10px -10px 5px;
}

header #categories {
  display: block;
  float: left;
  text-align: left;
  border-right: 5px solid #eee;
  padding: 0 15px;
}

header #categories a {
  display: inline-block;
  padding: 10px;
}

header .menu-top {
  float: right;
  display: block;
  padding: 0px 10px 0px 0px;
}

header .menu-top a {
  display: inline-block;
  font-size: 12px;
  padding: 12px 10px 8px;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 960px;
  padding: 10px 10px;
  font-size: 11px;
  border-top: 1px solid red;
  background: white;
  color: grey;
  z-index: 1;
}

page {
  display: block;
}

page:empty {
  height: 100px;
}

page:empty:before {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid red;
}

.admin_articles {
  
}

.admin_articles .admin_article {

}

.admin_articles .admin_article .title {

}

.admin_articles .admin_article .content {

}

.js {
  text-decoration: none;
  border-bottom: 1px dashed #0088cc;
}



.dropdown {
  position: absolute;
  top: 35px;
  background: whitesmoke;
  padding: 10px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
  width: 200px;
  right: 0;
}

.dropdown.dropdown-menu-top {
  position: absolute;
  top: 35px;
  background: whitesmoke;
  padding: 10px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.2);
  width: 200px;
  right: 0;
}

.dropdown.dropdown-menu-top:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-bottom-color: whitesmoke;
  position: absolute;
  top: -26px;
  right: 11px;
}